<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interest</title>
</head>
<body>
    <p>You're interest for <b><%= amount %></b> is</p>
    <h1> <%= interest %></h1>
</body>
</html>