<!DOCTYPE html>
<html>
  <head>
    <title>Course</title>
  </head>
  <body>
    <h1>Courses</h1>
    <ul>
    <% values.forEach( i => { %>
        <li><%=i.title %></li>
    <% })  %>
    </ul>
  </body>
</html>